/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 24px;
}

p {
	line-height: 20px;
}

/* Your code starts here! */

body {
	width: 85%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.nav-content {
	/*border: 1px solid red;*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;

}

.nav-content nav {
	width: 70%;
	/*border: 1px solid red;*/
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: space-around;
}

.top-content {
	border: 1px solid red;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 3% 0% 3% 0%;
}

.top-content .box1 {
	border: 1px solid red;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-right: 4%;
}

.middle-content {
	border: 1px solid red;
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 4%;
}

.box {
	margin: 4%;
}

.middle-content .row1 {
	display: flex;
	flex-flow: row nowrap;
}

.middle-content .row2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

}

.middle-content .row3 {
	display: flex;
	flex-flow: row nowrap;
}

.bottom-content {
	border: 1px solid red;
	margin-bottom: 3%;
}

footer {
	display: flex;
	justify-content: center;
	margin-bottom: 3%;
}

@media (max-width: 800px) {
	* {
		color: red;
	}

	.top-content .big-circle {
		display: none;
	}

	.nav-content {
		flex-flow: column nowrap;
	}
	.nav-content .logo {
		order: -1;
		margin: 3% 0% 3% 0%;

	}

}

@media (max-width: 500px) {
	* {
		color: green;
	}
	nav { 
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	nav a {
		padding: 3% 0% 3% 0%;
/*		border: 1px solid grey;*/
	}

	.middle-content .row1 {
		flex-flow: column nowrap;
	}

	.middle-content .row2 {
		margin: 3%;
	}
	.middle-content .row3 {
		flex-flow: column nowrap;
	}


}





